## 1. load data files & check

In [116]:
import pandas as pd
df_train = pd.read_csv('./titanic/train.csv')
df_test = pd.read_csv("./titanic/test.csv")
#print(type(df_train))

In [117]:
# check train data
print(df_train.head())
print(df_train.shape)
df_train.info()
df_train.isnull().sum()

PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [118]:
# check test data
print(df_test.head())
print(df_test.shape)
df_test.head()
df_test.info()
df_test.isnull().sum()

PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
(418, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## 1. Feature Engineering
### get 'title' from names

In [119]:
train_test_data = [df_train, df_test] # combining train and test dataset

for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

print(df_train['Title'].value_counts())
print(df_test['Title'].value_counts())

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Capt          1
Lady          1
Ms            1
Jonkheer      1
Don           1
Sir           1
Mme           1
Countess      1
Name: Title, dtype: int64
Mr        240
Miss       78
Mrs        72
Master     21
Col         2
Rev         2
Dr          1
Dona        1
Ms          1
Name: Title, dtype: int64

In [120]:
# map data with string (not number for test autoML performance)
title_mapping = {"Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs", 
                 "Master": "Gentleman", "Dr": "Gentleman", "Rev": "Gentleman", "Col": "unknown", "Major": "Gentleman", "Mlle": "unknown","Countess": "Lady",
                 "Ms": "Miss", "Lady": "Lady", "Jonkheer": "unknown", "Don": "Gentleman", "Dona" : "Lady", "Mme": "unknown","Capt": "Gentleman","Sir": "Gentleman" }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)
print(df_train['Title'].value_counts())
print(df_test['Title'].value_counts())

Mr           517
Miss         183
Mrs          125
Gentleman     58
unknown        6
Lady           2
Name: Title, dtype: int64
Mr           240
Miss          79
Mrs           72
Gentleman     24
unknown        2
Lady           1
Name: Title, dtype: int64

### drop name

In [121]:
# delete unnecessary feature from dataset
df_train.drop('Name', axis=1, inplace=True)
df_test.drop('Name', axis=1, inplace=True)
df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Mr

### fill missed age

In [122]:
# merge for calculate overall statstics
# (pd.merge(df_train,df_test)).head()
## NEED INVESTGATE!
# df_all = (pd.concat([df_train,df_test]))
# df_all.info()

# df_all.isnull().sum()

In [123]:
# df_test.groupby("Title")["Age"].transform("median")
# # fill missing age with median age for each title (Mr, Mrs, Miss, Others)
df_train["Age"].fillna(df_train.groupby("Title")["Age"].transform("median"), inplace=True)
df_test["Age"].fillna(df_test.groupby("Title")["Age"].transform("median"), inplace=True)
df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Mr

### fill embarked

In [124]:
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

### fill fare

In [125]:
# fill missing Fare with median fare for each Pclass
df_train["Fare"].fillna(df_train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
df_test["Fare"].fillna(df_test.groupby("Pclass")["Fare"].transform("median"), inplace=True)
df_train.head(50)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,male,30.0,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,male,54.0,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,male,2.0,3,1,349909,21.0750,NaN,S,Gentleman
8,9,1,3,female,27.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,female,14.0,1,0,237736,30.0708,NaN,C,Mrs
10,11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S,Miss
11,12,1,1,female,58.0,0,0,113783,26.5500,C103,S,Miss
12,13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr
13,14,0,3,male,39.0,1,5,347082,31.2750,NaN,S,Mr
14,15,0,3,female,14.0,0,0,350406,7.8542,NaN,S,Miss
15,16,1,2,female,55.0,0,0,248706,16.0000,NaN,S,Mrs
16,17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q,Gentleman
17,18,1,2,male,30.0,0,0,244373,13.0000,NaN,S,Mr
18,19,0,3,female,31.0,1,0,345763,18.0000,NaN,S,Mrs
19,20,1,3,female,35.0,0,0,2649,7.2250,NaN,C,Mrs
20,21,0,2,male,35.0,0,0,239865,26.0000,NaN,S,Mr
21,22,1,2,male,34.0,0,0,248698,13.0000,D56,S,Mr
22,23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q,Miss
23,24,1,1,male,28.0,0,0,113788,35.5000,A6,S,Mr
24,25,0,3,female,8.0,3,1,349909,21.0750,NaN,S,Miss
25,26,1,3,female,38.0,1,5,347077,31.3875,NaN,S,Mrs
26,27,0,3,male,30.0,0,0,2631,7.2250,NaN,C,Mr
27,28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Mr
28,29,1,3,female,21.0,0,0,330959,7.8792,NaN,Q,Miss
29,30,0,3,male,30.0,0,0,349216,7.8958,NaN,S,Mr
30,31,0,1,male,40.0,0,0,PC 17601,27.7208,NaN,C,Gentleman
31,32,1,1,female,35.0,1,0,PC 17569,146.5208,B78,C,Mrs
32,33,1,3,female,21.0,0,0,335677,7.7500,NaN,Q,Miss
33,34,0,2,male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Mr
34,35,0,1,male,28.0,1,0,PC 17604,82.1708,NaN,C,Mr
35,36,0,1,male,42.0,1,0,113789,52.0000,NaN,S,Mr
36,37,1,3,male,30.0,0,0,2677,7.2292,NaN,C,Mr
37,38,0,3,male,21.0,0,0,A./5. 2152,8.0500,NaN,S,Mr
38,39,0,3,female,18.0,2,0,345764,18.0000,NaN,S,Miss
39,40,1,3,female,14.0,1,0,2651,11.2417,NaN,C,Miss
40,41,0,3,female,40.0,1,0,7546,9.4750,NaN,S,Mrs
41,42,0,2,female,27.0,1,0,11668,21.0000,NaN,S,Mrs
42,43,0,3,male,30.0,0,0,349253,7.8958,NaN,C,Mr
43,44,1,2,female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,Miss
44,45,1,3,female,19.0,0,0,330958,7.8792,NaN,Q,Miss
45,46,0,3,male,30.0,0,0,S.C./A.4. 23567,8.0500,NaN,S,Mr
46,47,0,3,male,30.0,1,0,370371,15.5000,NaN,Q,Mr
47,48,1,3,female,21.0,0,0,14311,7.7500,NaN,Q,Miss
48,49,0,3,male,30.0,2,0,2662,21.6792,NaN,C,Mr
49,50,0,3,female,18.0,1,0,349237,17.8000,NaN,S,Mrs

### fill cabin

In [126]:

# map to number
cabin_mapping = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6, "T": 7}
for dataset in train_test_data:
    dataset["Cabin"] = dataset["Cabin"].str[:1]
    dataset["Cabin"] = dataset["Cabin"].map(cabin_mapping)

# fill missing Fare with median fare for each Pclass
df_train["Cabin"].fillna(df_train.groupby("Pclass")["Cabin"].transform("median"), inplace=True)
df_test["Cabin"].fillna(df_test.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

### simplize family

In [ ]:
df_train["FamilySize"] = df_train["SibSp"] + df_train["Parch"] + 1
df_test["FamilySize"] = df_test["SibSp"] + df_test["Parch"] + 1

In [134]:
# delete unnecessary feature from dataset
features_drop = ['PassengerId', 'Ticket', 'SibSp', 'Parch']
df_train = df_train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)

df_train.drop('PassengerId', axis=1, inplace=True)
df_test.drop('PassengerId', axis=1, inplace=True)
df_train.drop('Ticket', axis=1, inplace=True)
df_test.drop('Ticket', axis=1, inplace=True)
df_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  Cabin Embarked Title
0       3    male  22.0      1      0   7.2500    5.0        S    Mr
1       1  female  38.0      1      0  71.2833    2.0        C   Mrs
2       3  female  26.0      0      0   7.9250    5.0        S  Miss
3       1  female  35.0      1      0  53.1000    2.0        S   Mrs
4       3    male  35.0      0      0   8.0500    5.0        S    Mr

In [128]:
import autokeras as ak
# Initialize the structured data classifier.
clf = ak.StructuredDataClassifier(max_trials=1) # It tries 1 different models.
# Feed the structured data classifier with training data.
train_y = df_train.pop('Survived')
clf.fit(x=df_train,y=train_y)

WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_1
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_2
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.decay
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.learning_rate
WARNING:tensorflow:A checkpoint was restored (e.g. tf.train.Checkpoint.restore or tf.keras.Model.load_weights) but not all checkpointed values were used. See above for specific issues. Use expect_partial() on the load status object, e.g. tf.train.Checkpoint.restore(...).expect_partial(), to silence these warnings, or use assert_consumed() to make the check explicit. See https://www.tensorflow.org/guide/checkpoint#loading_mechanics for details.
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_1
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_2
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.decay
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.learning_rate
WARNING:tensorflow:A checkpoint was restored (e.g. tf.train.Checkpoint.restore or tf.keras.Model.load_weights) but not all checkpointed values were used. See above for specific issues. Use expect_partial() on the load status object, e.g. tf.train.Checkpoint.restore(...).expect_partial(), to silence these warnings, or use assert_consumed() to make the check explicit. See https://www.tensorflow.org/guide/checkpoint#loading_mechanics for details.
Train for 23 steps, validate for 6 steps
Epoch 1/1000
 1/23 [>.............................] - ETA: 21s - loss: 3.0434 - accuracy: 0.50012/23 [==============>...............] - ETA: 0s - loss: 1.9199 - accuracy: 0.6023/23 [==============================] - 1s 65ms/step - loss: 1.5083 - accuracy: 0.6129 - val_loss: 0.8226 - val_accuracy: 0.4719
Epoch 2/1000
 1/23 [>.............................] - ETA: 0s - loss: 1.0207 - accuracy: 0.65 8/23 [=========>....................] - ETA: 0s - loss: 0.9357 - accuracy: 0.6413/23 [===============>..............] - ETA: 0s - loss: 0.9400 - accuracy: 0.6123/23 [==============================] - 0s 9ms/step - loss: 0.8394 - accuracy: 0.6424 - val_loss: 0.7919 - val_accuracy: 0.3820
Epoch 3/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7262 - accuracy: 0.5911/23 [=============>................] - ETA: 0s - loss: 0.7178 - accuracy: 0.6419/23 [=======================>......] - ETA: 0s - loss: 0.7168 - accuracy: 0.6420/23 [=========================>....] - ETA: 0s - loss: 0.7118 - accuracy: 0.6523/23 [==============================] - 0s 20ms/step - loss: 0.7134 - accuracy: 0.6508 - val_loss: 0.7174 - val_accuracy: 0.6067
Epoch 4/1000
 1/23 [>.............................] - ETA: 1s - loss: 0.8002 - accuracy: 0.56 4/23 [====>.........................] - ETA: 0s - loss: 0.7301 - accuracy: 0.59 9/23 [==========>...................] - ETA: 0s - loss: 0.6867 - accuracy: 0.6519/23 [=======================>......] - ETA: 0s - loss: 0.6447 - accuracy: 0.6823/23 [==============================] - 0s 19ms/step - loss: 0.6438 - accuracy: 0.6830 - val_loss: 0.5854 - val_accuracy: 0.7247
Epoch 5/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7006 - accuracy: 0.5911/23 [=============>................] - ETA: 0s - loss: 0.6378 - accuracy: 0.6623/23 [==============================] - 0s 6ms/step - loss: 0.6305 - accuracy: 0.6732 - val_loss: 0.5900 - val_accuracy: 0.7247
Epoch 6/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7670 - accuracy: 0.5615/23 [==================>...........] - ETA: 0s - loss: 0.6421 - accuracy: 0.6823/23 [==============================] - 0s 16ms/step - loss: 0.6282 - accuracy: 0.6999 - val_loss: 0.5720 - val_accuracy: 0.7472
Epoch 7/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7105 - accuracy: 0.62 5/23 [=====>........................] - ETA: 0s - loss: 0.6618 - accuracy: 0.6319/23 [=======================>......] - ETA: 0s - loss: 0.6080 - accuracy: 0.7023/23 [==============================] - 0s 9ms/step - loss: 0.6196 - accuracy: 0.7069 - val_loss: 0.5695 - val_accuracy: 0.7247
Epoch 8/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7227 - accuracy: 0.65 5/23 [=====>........................] - ETA: 0s - loss: 0.6670 - accuracy: 0.6521/23 [==========================>...] - ETA: 0s - loss: 0.6088 - accuracy: 0.7023/23 [==============================] - 0s 8ms/step - loss: 0.6168 - accuracy: 0.7097 - val_loss: 0.5641 - val_accuracy: 0.7247
Epoch 9/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7088 - accuracy: 0.65 4/23 [====>.........................] - ETA: 0s - loss: 0.6731 - accuracy: 0.6319/23 [=======================>......] - ETA: 0s - loss: 0.5976 - accuracy: 0.7123/23 [==============================] - 0s 9ms/step - loss: 0.6104 - accuracy: 0.7111 - val_loss: 0.5637 - val_accuracy: 0.7360
Epoch 10/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7056 - accuracy: 0.65 4/23 [====>.........................] - ETA: 0s - loss: 0.6621 - accuracy: 0.6420/23 [=========================>....] - ETA: 0s - loss: 0.5961 - accuracy: 0.7123/23 [==============================] - 0s 15ms/step - loss: 0.6051 - accuracy: 0.7111 - val_loss: 0.5550 - val_accuracy: 0.7528
Epoch 11/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.7009 - accuracy: 0.6515/23 [==================>...........] - ETA: 0s - loss: 0.6049 - accuracy: 0.6920/23 [=========================>....] - ETA: 0s - loss: 0.5887 - accuracy: 0.7123/23 [==============================] - 0s 9ms/step - loss: 0.5974 - accuracy: 0.7069 - val_loss: 0.5487 - val_accuracy: 0.7472
Epoch 12/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6806 - accuracy: 0.6513/23 [===============>..............] - ETA: 0s - loss: 0.6071 - accuracy: 0.6821/23 [==========================>...] - ETA: 0s - loss: 0.5827 - accuracy: 0.7023/23 [==============================] - 0s 9ms/step - loss: 0.5916 - accuracy: 0.7069 - val_loss: 0.5424 - val_accuracy: 0.7472
Epoch 13/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6757 - accuracy: 0.65 7/23 [========>.....................] - ETA: 0s - loss: 0.6187 - accuracy: 0.6623/23 [==============================] - 0s 7ms/step - loss: 0.5874 - accuracy: 0.7069 - val_loss: 0.5338 - val_accuracy: 0.7472
Epoch 14/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6617 - accuracy: 0.6515/23 [==================>...........] - ETA: 0s - loss: 0.5864 - accuracy: 0.6923/23 [==============================] - 0s 13ms/step - loss: 0.5829 - accuracy: 0.7083 - val_loss: 0.5233 - val_accuracy: 0.7584
Epoch 15/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6543 - accuracy: 0.6515/23 [==================>...........] - ETA: 0s - loss: 0.5816 - accuracy: 0.6923/23 [==============================] - 0s 6ms/step - loss: 0.5783 - accuracy: 0.7139 - val_loss: 0.5221 - val_accuracy: 0.7584
Epoch 16/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6398 - accuracy: 0.6515/23 [==================>...........] - ETA: 0s - loss: 0.5762 - accuracy: 0.7023/23 [==============================] - 0s 13ms/step - loss: 0.5737 - accuracy: 0.7153 - val_loss: 0.5148 - val_accuracy: 0.7640
Epoch 17/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6325 - accuracy: 0.6813/23 [===============>..............] - ETA: 0s - loss: 0.5775 - accuracy: 0.7019/23 [=======================>......] - ETA: 0s - loss: 0.5514 - accuracy: 0.7223/23 [==============================] - 0s 9ms/step - loss: 0.5678 - accuracy: 0.7209 - val_loss: 0.5096 - val_accuracy: 0.7640
Epoch 18/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6200 - accuracy: 0.7114/23 [=================>............] - ETA: 0s - loss: 0.5718 - accuracy: 0.7023/23 [==============================] - 0s 14ms/step - loss: 0.5647 - accuracy: 0.7223 - val_loss: 0.5071 - val_accuracy: 0.7753
Epoch 19/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6167 - accuracy: 0.6815/23 [==================>...........] - ETA: 0s - loss: 0.5601 - accuracy: 0.7216/23 [===================>..........] - ETA: 0s - loss: 0.5536 - accuracy: 0.7223/23 [==============================] - 0s 11ms/step - loss: 0.5601 - accuracy: 0.7335 - val_loss: 0.5033 - val_accuracy: 0.7697
Epoch 20/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6075 - accuracy: 0.71 5/23 [=====>........................] - ETA: 0s - loss: 0.5788 - accuracy: 0.6719/23 [=======================>......] - ETA: 0s - loss: 0.5403 - accuracy: 0.7323/23 [==============================] - 0s 9ms/step - loss: 0.5570 - accuracy: 0.7279 - val_loss: 0.4979 - val_accuracy: 0.7640
Epoch 21/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.6053 - accuracy: 0.7116/23 [===================>..........] - ETA: 0s - loss: 0.5466 - accuracy: 0.7323/23 [==============================] - 0s 7ms/step - loss: 0.5526 - accuracy: 0.7349 - val_loss: 0.4951 - val_accuracy: 0.7584
Epoch 22/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5951 - accuracy: 0.7114/23 [=================>............] - ETA: 0s - loss: 0.5553 - accuracy: 0.7323/23 [==============================] - 0s 6ms/step - loss: 0.5494 - accuracy: 0.7349 - val_loss: 0.4940 - val_accuracy: 0.7640
Epoch 23/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5976 - accuracy: 0.7119/23 [=======================>......] - ETA: 0s - loss: 0.5291 - accuracy: 0.7423/23 [==============================] - 0s 7ms/step - loss: 0.5458 - accuracy: 0.7405 - val_loss: 0.4909 - val_accuracy: 0.7528
Epoch 24/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5950 - accuracy: 0.7112/23 [==============>...............] - ETA: 0s - loss: 0.5508 - accuracy: 0.7323/23 [==============================] - 0s 6ms/step - loss: 0.5431 - accuracy: 0.7461 - val_loss: 0.4885 - val_accuracy: 0.7584
Epoch 25/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5901 - accuracy: 0.7118/23 [======================>.......] - ETA: 0s - loss: 0.5293 - accuracy: 0.7422/23 [===========================>..] - ETA: 0s - loss: 0.5260 - accuracy: 0.7423/23 [==============================] - 0s 7ms/step - loss: 0.5393 - accuracy: 0.7447 - val_loss: 0.4884 - val_accuracy: 0.7640
Epoch 26/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5852 - accuracy: 0.7118/23 [======================>.......] - ETA: 0s - loss: 0.5264 - accuracy: 0.7423/23 [==============================] - 0s 6ms/step - loss: 0.5359 - accuracy: 0.7447 - val_loss: 0.4871 - val_accuracy: 0.7640
Epoch 27/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5863 - accuracy: 0.7116/23 [===================>..........] - ETA: 0s - loss: 0.5261 - accuracy: 0.7420/23 [=========================>....] - ETA: 0s - loss: 0.5234 - accuracy: 0.7423/23 [==============================] - 0s 9ms/step - loss: 0.5323 - accuracy: 0.7419 - val_loss: 0.4859 - val_accuracy: 0.7528
Epoch 28/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5883 - accuracy: 0.71 7/23 [========>.....................] - ETA: 0s - loss: 0.5488 - accuracy: 0.7118/23 [======================>.......] - ETA: 0s - loss: 0.5209 - accuracy: 0.7423/23 [==============================] - 0s 10ms/step - loss: 0.5289 - accuracy: 0.7461 - val_loss: 0.4849 - val_accuracy: 0.7584
Epoch 29/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5836 - accuracy: 0.7112/23 [==============>...............] - ETA: 0s - loss: 0.5305 - accuracy: 0.7323/23 [==============================] - 0s 8ms/step - loss: 0.5259 - accuracy: 0.7489 - val_loss: 0.4832 - val_accuracy: 0.7584
Epoch 30/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5750 - accuracy: 0.7513/23 [===============>..............] - ETA: 0s - loss: 0.5282 - accuracy: 0.7423/23 [==============================] - 0s 7ms/step - loss: 0.5235 - accuracy: 0.7532 - val_loss: 0.4836 - val_accuracy: 0.7528
Epoch 31/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5824 - accuracy: 0.7516/23 [===================>..........] - ETA: 0s - loss: 0.5152 - accuracy: 0.7520/23 [=========================>....] - ETA: 0s - loss: 0.5131 - accuracy: 0.7523/23 [==============================] - 0s 9ms/step - loss: 0.5214 - accuracy: 0.7546 - val_loss: 0.4816 - val_accuracy: 0.7640
Epoch 32/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5743 - accuracy: 0.75 7/23 [========>.....................] - ETA: 0s - loss: 0.5335 - accuracy: 0.7220/23 [=========================>....] - ETA: 0s - loss: 0.5103 - accuracy: 0.7523/23 [==============================] - 0s 9ms/step - loss: 0.5191 - accuracy: 0.7602 - val_loss: 0.4816 - val_accuracy: 0.7640
Epoch 33/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5728 - accuracy: 0.7512/23 [==============>...............] - ETA: 0s - loss: 0.5191 - accuracy: 0.7523/23 [==============================] - 0s 7ms/step - loss: 0.5158 - accuracy: 0.7588 - val_loss: 0.4826 - val_accuracy: 0.7697
Epoch 34/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5694 - accuracy: 0.7514/23 [=================>............] - ETA: 0s - loss: 0.5167 - accuracy: 0.7523/23 [==============================] - 0s 6ms/step - loss: 0.5143 - accuracy: 0.7630 - val_loss: 0.4794 - val_accuracy: 0.7697
Epoch 35/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5672 - accuracy: 0.7516/23 [===================>..........] - ETA: 0s - loss: 0.5049 - accuracy: 0.7623/23 [==============================] - 0s 7ms/step - loss: 0.5118 - accuracy: 0.7630 - val_loss: 0.4825 - val_accuracy: 0.7697
Epoch 36/1000
 1/23 [>.............................] - ETA: 1s - loss: 0.5651 - accuracy: 0.75 9/23 [==========>...................] - ETA: 0s - loss: 0.5165 - accuracy: 0.7516/23 [===================>..........] - ETA: 0s - loss: 0.5053 - accuracy: 0.7623/23 [==============================] - 0s 10ms/step - loss: 0.5121 - accuracy: 0.7630 - val_loss: 0.4778 - val_accuracy: 0.7697
Epoch 37/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5649 - accuracy: 0.7510/23 [============>.................] - ETA: 0s - loss: 0.5058 - accuracy: 0.7622/23 [===========================>..] - ETA: 0s - loss: 0.4963 - accuracy: 0.7623/23 [==============================] - 0s 10ms/step - loss: 0.5067 - accuracy: 0.7672 - val_loss: 0.4807 - val_accuracy: 0.7697
Epoch 38/1000
 1/23 [>.............................] - ETA: 1s - loss: 0.5643 - accuracy: 0.7111/23 [=============>................] - ETA: 0s - loss: 0.5084 - accuracy: 0.7513/23 [===============>..............] - ETA: 0s - loss: 0.5090 - accuracy: 0.7520/23 [=========================>....] - ETA: 0s - loss: 0.4982 - accuracy: 0.7623/23 [==============================] - 0s 12ms/step - loss: 0.5069 - accuracy: 0.7658 - val_loss: 0.4804 - val_accuracy: 0.7697
Epoch 39/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5684 - accuracy: 0.7511/23 [=============>................] - ETA: 0s - loss: 0.5052 - accuracy: 0.7523/23 [==============================] - 0s 8ms/step - loss: 0.5060 - accuracy: 0.7630 - val_loss: 0.4796 - val_accuracy: 0.7753
Epoch 40/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5686 - accuracy: 0.7112/23 [==============>...............] - ETA: 0s - loss: 0.5037 - accuracy: 0.7423/23 [==============================] - 0s 7ms/step - loss: 0.5050 - accuracy: 0.7574 - val_loss: 0.4819 - val_accuracy: 0.7640
Epoch 41/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5680 - accuracy: 0.6813/23 [===============>..............] - ETA: 0s - loss: 0.5064 - accuracy: 0.7422/23 [===========================>..] - ETA: 0s - loss: 0.4951 - accuracy: 0.7523/23 [==============================] - 0s 9ms/step - loss: 0.5049 - accuracy: 0.7560 - val_loss: 0.4816 - val_accuracy: 0.7697
Epoch 42/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5741 - accuracy: 0.6514/23 [=================>............] - ETA: 0s - loss: 0.5030 - accuracy: 0.7423/23 [==============================] - 0s 6ms/step - loss: 0.5026 - accuracy: 0.7560 - val_loss: 0.4818 - val_accuracy: 0.7697
Epoch 43/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5843 - accuracy: 0.6511/23 [=============>................] - ETA: 0s - loss: 0.5011 - accuracy: 0.7423/23 [==============================] - 0s 6ms/step - loss: 0.5006 - accuracy: 0.7546 - val_loss: 0.4833 - val_accuracy: 0.7697
Epoch 44/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5778 - accuracy: 0.65 2/23 [=>............................] - ETA: 0s - loss: 0.5360 - accuracy: 0.6410/23 [============>.................] - ETA: 0s - loss: 0.4977 - accuracy: 0.7517/23 [=====================>........] - ETA: 0s - loss: 0.4841 - accuracy: 0.7623/23 [==============================] - 0s 12ms/step - loss: 0.4970 - accuracy: 0.7630 - val_loss: 0.4833 - val_accuracy: 0.7697
Epoch 45/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5743 - accuracy: 0.6516/23 [===================>..........] - ETA: 0s - loss: 0.4876 - accuracy: 0.7623/23 [==============================] - 0s 6ms/step - loss: 0.4937 - accuracy: 0.7602 - val_loss: 0.4833 - val_accuracy: 0.7753
Epoch 46/1000
 1/23 [>.............................] - ETA: 0s - loss: 0.5654 - accuracy: 0.6815/23 [==================>...........] - ETA: 0s - loss: 0.4864 - accuracy: 0.7623/23 [==============================] - 0s 7ms/step - loss: 0.4896 - accuracy: 0.7714 - val_loss: 0.4853 - val_accuracy: 0.7753

.................] - ETA: 0s - loss: 0.6618 - accuracy: 0.6914/29 [=============>................] - ETA: 0s - loss: 0.6597 - accuracy: 0.7128/29 [===========================>..] - ETA: 0s - loss: 0.6191 - accuracy: 0.7229/29 [==============================] - 0s 9ms/step - loss: 0.6175 - accuracy: 0.7239 - val_loss: 0.4476 - val_accuracy: 0.7753
Epoch 28/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5998 - accuracy: 0.6514/29 [=============>................] - ETA: 0s - loss: 0.6638 - accuracy: 0.7029/29 [==============================] - 0s 6ms/step - loss: 0.6180 - accuracy: 0.7205 - val_loss: 0.4455 - val_accuracy: 0.7697
Epoch 29/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.6007 - accuracy: 0.6516/29 [===============>..............] - ETA: 0s - loss: 0.6492 - accuracy: 0.7121/29 [====================>.........] - ETA: 0s - loss: 0.6202 - accuracy: 0.7229/29 [==============================] - 0s 8ms/step - loss: 0.6119 - accuracy: 0.7239 - val_loss: 0.4417 - val_accuracy: 0.7753
Epoch 30/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.6026 - accuracy: 0.65 8/29 [=======>......................] - ETA: 0s - loss: 0.6537 - accuracy: 0.7318/29 [=================>............] - ETA: 0s - loss: 0.6353 - accuracy: 0.7227/29 [==========================>...] - ETA: 0s - loss: 0.6138 - accuracy: 0.7229/29 [==============================] - 0s 8ms/step - loss: 0.6098 - accuracy: 0.7284 - val_loss: 0.4431 - val_accuracy: 0.7753
Epoch 31/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5926 - accuracy: 0.6512/29 [===========>..................] - ETA: 0s - loss: 0.6343 - accuracy: 0.7221/29 [====================>.........] - ETA: 0s - loss: 0.6140 - accuracy: 0.7329/29 [==============================] - 0s 9ms/step - loss: 0.6073 - accuracy: 0.7284 - val_loss: 0.4434 - val_accuracy: 0.7753
Epoch 32/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5973 - accuracy: 0.6511/29 [==========>...................] - ETA: 0s - loss: 0.6522 - accuracy: 0.7127/29 [==========================>...] - ETA: 0s - loss: 0.6096 - accuracy: 0.7229/29 [==============================] - 0s 7ms/step - loss: 0.6056 - accuracy: 0.7262 - val_loss: 0.4412 - val_accuracy: 0.7753
Epoch 33/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5958 - accuracy: 0.6517/29 [================>.............] - ETA: 0s - loss: 0.6296 - accuracy: 0.7225/29 [========================>.....] - ETA: 0s - loss: 0.6107 - accuracy: 0.7229/29 [==============================] - 0s 7ms/step - loss: 0.6022 - accuracy: 0.7273 - val_loss: 0.4398 - val_accuracy: 0.7753
Epoch 34/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.6012 - accuracy: 0.6517/29 [================>.............] - ETA: 0s - loss: 0.6261 - accuracy: 0.7227/29 [==========================>...] - ETA: 0s - loss: 0.6026 - accuracy: 0.7329/29 [==============================] - 0s 8ms/step - loss: 0.5986 - accuracy: 0.7306 - val_loss: 0.4403 - val_accuracy: 0.7753
Epoch 35/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5901 - accuracy: 0.65 4/29 [===>..........................] - ETA: 0s - loss: 0.6404 - accuracy: 0.6821/29 [====================>.........] - ETA: 0s - loss: 0.6008 - accuracy: 0.7329/29 [==============================] - 0s 7ms/step - loss: 0.5949 - accuracy: 0.7306 - val_loss: 0.4377 - val_accuracy: 0.7753
Epoch 36/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5980 - accuracy: 0.6812/29 [===========>..................] - ETA: 0s - loss: 0.6180 - accuracy: 0.7325/29 [========================>.....] - ETA: 0s - loss: 0.6005 - accuracy: 0.7228/29 [===========================>..] - ETA: 0s - loss: 0.5948 - accuracy: 0.7329/29 [==============================] - 0s 8ms/step - loss: 0.5930 - accuracy: 0.7318 - val_loss: 0.4374 - val_accuracy: 0.7809
Epoch 37/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5884 - accuracy: 0.68 8/29 [=======>......................] - ETA: 0s - loss: 0.6295 - accuracy: 0.7321/29 [====================>.........] - ETA: 0s - loss: 0.5959 - accuracy: 0.7327/29 [==========================>...] - ETA: 0s - loss: 0.5951 - accuracy: 0.7329/29 [==============================] - 0s 8ms/step - loss: 0.5916 - accuracy: 0.7340 - val_loss: 0.4391 - val_accuracy: 0.7753
Epoch 38/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5948 - accuracy: 0.6515/29 [==============>...............] - ETA: 0s - loss: 0.6295 - accuracy: 0.7221/29 [====================>.........] - ETA: 0s - loss: 0.5963 - accuracy: 0.7329/29 [==============================] - 0s 8ms/step - loss: 0.5903 - accuracy: 0.7329 - val_loss: 0.4376 - val_accuracy: 0.7753
Epoch 39/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5935 - accuracy: 0.65 8/29 [=======>......................] - ETA: 0s - loss: 0.6260 - accuracy: 0.7221/29 [====================>.........] - ETA: 0s - loss: 0.5920 - accuracy: 0.7327/29 [==========================>...] - ETA: 0s - loss: 0.5907 - accuracy: 0.7329/29 [==============================] - 0s 9ms/step - loss: 0.5867 - accuracy: 0.7329 - val_loss: 0.4361 - val_accuracy: 0.7753
Epoch 40/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5950 - accuracy: 0.6814/29 [=============>................] - ETA: 0s - loss: 0.6212 - accuracy: 0.7323/29 [======================>.......] - ETA: 0s - loss: 0.5902 - accuracy: 0.7428/29 [===========================>..] - ETA: 0s - loss: 0.5861 - accuracy: 0.7429/29 [==============================] - 0s 9ms/step - loss: 0.5843 - accuracy: 0.7385 - val_loss: 0.4360 - val_accuracy: 0.7753
Epoch 41/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5887 - accuracy: 0.6815/29 [==============>...............] - ETA: 0s - loss: 0.6179 - accuracy: 0.7323/29 [======================>.......] - ETA: 0s - loss: 0.5876 - accuracy: 0.7429/29 [==============================] - 0s 7ms/step - loss: 0.5829 - accuracy: 0.7419 - val_loss: 0.4373 - val_accuracy: 0.7697
Epoch 42/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5907 - accuracy: 0.6815/29 [==============>...............] - ETA: 0s - loss: 0.6192 - accuracy: 0.7324/29 [=======================>......] - ETA: 0s - loss: 0.5826 - accuracy: 0.7429/29 [==============================] - 0s 7ms/step - loss: 0.5821 - accuracy: 0.7419 - val_loss: 0.4373 - val_accuracy: 0.7753
Epoch 43/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.6011 - accuracy: 0.6812/29 [===========>..................] - ETA: 0s - loss: 0.5986 - accuracy: 0.7419/29 [==================>...........] - ETA: 0s - loss: 0.5880 - accuracy: 0.7429/29 [==============================] - 0s 7ms/step - loss: 0.5775 - accuracy: 0.7407 - val_loss: 0.4331 - val_accuracy: 0.7809
Epoch 44/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5929 - accuracy: 0.68 8/29 [=======>......................] - ETA: 0s - loss: 0.6143 - accuracy: 0.7323/29 [======================>.......] - ETA: 0s - loss: 0.5817 - accuracy: 0.7429/29 [==============================] - 0s 7ms/step - loss: 0.5770 - accuracy: 0.7419 - val_loss: 0.4352 - val_accuracy: 0.7809
Epoch 45/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5902 - accuracy: 0.68 9/29 [========>.....................] - ETA: 0s - loss: 0.5907 - accuracy: 0.7421/29 [====================>.........] - ETA: 0s - loss: 0.5795 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5755 - accuracy: 0.7452 - val_loss: 0.4370 - val_accuracy: 0.7753
Epoch 46/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5963 - accuracy: 0.7113/29 [============>.................] - ETA: 0s - loss: 0.5873 - accuracy: 0.7428/29 [===========================>..] - ETA: 0s - loss: 0.5733 - accuracy: 0.7429/29 [==============================] - 0s 7ms/step - loss: 0.5712 - accuracy: 0.7441 - val_loss: 0.4317 - val_accuracy: 0.7809
Epoch 47/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5968 - accuracy: 0.6814/29 [=============>................] - ETA: 0s - loss: 0.6048 - accuracy: 0.7322/29 [=====================>........] - ETA: 0s - loss: 0.5693 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5727 - accuracy: 0.7452 - val_loss: 0.4372 - val_accuracy: 0.7865
Epoch 48/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5849 - accuracy: 0.7514/29 [=============>................] - ETA: 0s - loss: 0.6073 - accuracy: 0.7424/29 [=======================>......] - ETA: 0s - loss: 0.5727 - accuracy: 0.7529/29 [==============================] - 0s 8ms/step - loss: 0.5725 - accuracy: 0.7520 - val_loss: 0.4365 - val_accuracy: 0.7865
Epoch 49/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5995 - accuracy: 0.6817/29 [================>.............] - ETA: 0s - loss: 0.5875 - accuracy: 0.7426/29 [=========================>....] - ETA: 0s - loss: 0.5695 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5661 - accuracy: 0.7520 - val_loss: 0.4340 - val_accuracy: 0.7921
Epoch 50/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5991 - accuracy: 0.71 9/29 [========>.....................] - ETA: 0s - loss: 0.5787 - accuracy: 0.7519/29 [==================>...........] - ETA: 0s - loss: 0.5732 - accuracy: 0.7527/29 [==========================>...] - ETA: 0s - loss: 0.5678 - accuracy: 0.7529/29 [==============================] - 0s 8ms/step - loss: 0.5642 - accuracy: 0.7531 - val_loss: 0.4323 - val_accuracy: 0.7921
Epoch 51/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5894 - accuracy: 0.7514/29 [=============>................] - ETA: 0s - loss: 0.5961 - accuracy: 0.7418/29 [=================>............] - ETA: 0s - loss: 0.5830 - accuracy: 0.7529/29 [==============================] - 0s 8ms/step - loss: 0.5644 - accuracy: 0.7542 - val_loss: 0.4343 - val_accuracy: 0.7865
Epoch 52/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5941 - accuracy: 0.7514/29 [=============>................] - ETA: 0s - loss: 0.5925 - accuracy: 0.7428/29 [===========================>..] - ETA: 0s - loss: 0.5632 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5614 - accuracy: 0.7542 - val_loss: 0.4327 - val_accuracy: 0.7921
Epoch 53/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5940 - accuracy: 0.7112/29 [===========>..................] - ETA: 0s - loss: 0.5751 - accuracy: 0.7429/29 [==============================] - 0s 6ms/step - loss: 0.5596 - accuracy: 0.7542 - val_loss: 0.4326 - val_accuracy: 0.7978
Epoch 54/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5993 - accuracy: 0.6817/29 [================>.............] - ETA: 0s - loss: 0.5773 - accuracy: 0.7420/29 [===================>..........] - ETA: 0s - loss: 0.5580 - accuracy: 0.7525/29 [========================>.....] - ETA: 0s - loss: 0.5630 - accuracy: 0.7429/29 [==============================] - 0s 8ms/step - loss: 0.5584 - accuracy: 0.7520 - val_loss: 0.4317 - val_accuracy: 0.7978
Epoch 55/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5913 - accuracy: 0.7114/29 [=============>................] - ETA: 0s - loss: 0.5908 - accuracy: 0.7427/29 [==========================>...] - ETA: 0s - loss: 0.5634 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5593 - accuracy: 0.7565 - val_loss: 0.4332 - val_accuracy: 0.7978
Epoch 56/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5938 - accuracy: 0.7113/29 [============>.................] - ETA: 0s - loss: 0.5677 - accuracy: 0.7516/29 [===============>..............] - ETA: 0s - loss: 0.5808 - accuracy: 0.7429/29 [==============================] - 0s 8ms/step - loss: 0.5544 - accuracy: 0.7565 - val_loss: 0.4301 - val_accuracy: 0.7978
Epoch 57/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5997 - accuracy: 0.68 9/29 [========>.....................] - ETA: 0s - loss: 0.5666 - accuracy: 0.7423/29 [======================>.......] - ETA: 0s - loss: 0.5546 - accuracy: 0.7629/29 [==============================] - 0s 7ms/step - loss: 0.5526 - accuracy: 0.7576 - val_loss: 0.4329 - val_accuracy: 0.7978
Epoch 58/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5953 - accuracy: 0.6812/29 [===========>..................] - ETA: 0s - loss: 0.5662 - accuracy: 0.7423/29 [======================>.......] - ETA: 0s - loss: 0.5558 - accuracy: 0.7529/29 [==============================] - 0s 6ms/step - loss: 0.5536 - accuracy: 0.7542 - val_loss: 0.4309 - val_accuracy: 0.7978
Epoch 59/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5952 - accuracy: 0.7112/29 [===========>..................] - ETA: 0s - loss: 0.5685 - accuracy: 0.7422/29 [=====================>........] - ETA: 0s - loss: 0.5503 - accuracy: 0.7629/29 [==============================] - 0s 8ms/step - loss: 0.5536 - accuracy: 0.7587 - val_loss: 0.4313 - val_accuracy: 0.7978
Epoch 60/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5935 - accuracy: 0.71 9/29 [========>.....................] - ETA: 0s - loss: 0.5647 - accuracy: 0.7521/29 [====================>.........] - ETA: 0s - loss: 0.5509 - accuracy: 0.7629/29 [==============================] - 0s 7ms/step - loss: 0.5492 - accuracy: 0.7587 - val_loss: 0.4308 - val_accuracy: 0.7978
Epoch 61/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5949 - accuracy: 0.7116/29 [===============>..............] - ETA: 0s - loss: 0.5696 - accuracy: 0.7425/29 [========================>.....] - ETA: 0s - loss: 0.5509 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5472 - accuracy: 0.7576 - val_loss: 0.4320 - val_accuracy: 0.7921
Epoch 62/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5987 - accuracy: 0.6815/29 [==============>...............] - ETA: 0s - loss: 0.5733 - accuracy: 0.7427/29 [==========================>...] - ETA: 0s - loss: 0.5522 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5487 - accuracy: 0.7531 - val_loss: 0.4312 - val_accuracy: 0.7865
Epoch 63/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5915 - accuracy: 0.7116/29 [===============>..............] - ETA: 0s - loss: 0.5752 - accuracy: 0.7424/29 [=======================>......] - ETA: 0s - loss: 0.5474 - accuracy: 0.7629/29 [==============================] - 0s 8ms/step - loss: 0.5499 - accuracy: 0.7576 - val_loss: 0.4330 - val_accuracy: 0.7921
Epoch 64/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5932 - accuracy: 0.7113/29 [============>.................] - ETA: 0s - loss: 0.5557 - accuracy: 0.7426/29 [=========================>....] - ETA: 0s - loss: 0.5482 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5457 - accuracy: 0.7565 - val_loss: 0.4324 - val_accuracy: 0.7865
Epoch 65/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5979 - accuracy: 0.71 2/29 [=>............................] - ETA: 2s - loss: 0.5838 - accuracy: 0.7011/29 [==========>...................] - ETA: 0s - loss: 0.5732 - accuracy: 0.7315/29 [==============>...............] - ETA: 0s - loss: 0.5694 - accuracy: 0.7424/29 [=======================>......] - ETA: 0s - loss: 0.5409 - accuracy: 0.7629/29 [==============================] - 0s 14ms/step - loss: 0.5445 - accuracy: 0.7565 - val_loss: 0.4324 - val_accuracy: 0.7865
Epoch 66/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.6023 - accuracy: 0.7113/29 [============>.................] - ETA: 0s - loss: 0.5530 - accuracy: 0.7419/29 [==================>...........] - ETA: 0s - loss: 0.5501 - accuracy: 0.7529/29 [==============================] - 0s 8ms/step - loss: 0.5444 - accuracy: 0.7542 - val_loss: 0.4298 - val_accuracy: 0.7865
Epoch 67/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5944 - accuracy: 0.71 9/29 [========>.....................] - ETA: 0s - loss: 0.5614 - accuracy: 0.7525/29 [========================>.....] - ETA: 0s - loss: 0.5492 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5447 - accuracy: 0.7587 - val_loss: 0.4311 - val_accuracy: 0.7809
Epoch 68/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5934 - accuracy: 0.7118/29 [=================>............] - ETA: 0s - loss: 0.5557 - accuracy: 0.7523/29 [======================>.......] - ETA: 0s - loss: 0.5431 - accuracy: 0.7529/29 [==============================] - 0s 8ms/step - loss: 0.5403 - accuracy: 0.7576 - val_loss: 0.4315 - val_accuracy: 0.7809
Epoch 69/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5972 - accuracy: 0.7516/29 [===============>..............] - ETA: 0s - loss: 0.5588 - accuracy: 0.7421/29 [====================>.........] - ETA: 0s - loss: 0.5374 - accuracy: 0.7629/29 [==============================] - 0s 7ms/step - loss: 0.5390 - accuracy: 0.7587 - val_loss: 0.4319 - val_accuracy: 0.7809
Epoch 70/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.6000 - accuracy: 0.7112/29 [===========>..................] - ETA: 0s - loss: 0.5472 - accuracy: 0.7425/29 [========================>.....] - ETA: 0s - loss: 0.5438 - accuracy: 0.7529/29 [==============================] - 0s 7ms/step - loss: 0.5409 - accuracy: 0.7553 - val_loss: 0.4314 - val_accuracy: 0.7809
Epoch 71/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5917 - accuracy: 0.75 6/29 [=====>........................] - ETA: 0s - loss: 0.5683 - accuracy: 0.7317/29 [================>.............] - ETA: 0s - loss: 0.5588 - accuracy: 0.7525/29 [========================>.....] - ETA: 0s - loss: 0.5469 - accuracy: 0.7529/29 [==============================] - 0s 10ms/step - loss: 0.5427 - accuracy: 0.7587 - val_loss: 0.4343 - val_accuracy: 0.7809
Epoch 72/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5951 - accuracy: 0.7510/29 [=========>....................] - ETA: 0s - loss: 0.5605 - accuracy: 0.7514/29 [=============>................] - ETA: 0s - loss: 0.5627 - accuracy: 0.7527/29 [==========================>...] - ETA: 0s - loss: 0.5426 - accuracy: 0.7629/29 [==============================] - 0s 10ms/step - loss: 0.5387 - accuracy: 0.7609 - val_loss: 0.4337 - val_accuracy: 0.7865
Epoch 73/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5987 - accuracy: 0.7517/29 [================>.............] - ETA: 0s - loss: 0.5505 - accuracy: 0.7522/29 [=====================>........] - ETA: 0s - loss: 0.5308 - accuracy: 0.7628/29 [===========================>..] - ETA: 0s - loss: 0.5393 - accuracy: 0.7629/29 [==============================] - 0s 10ms/step - loss: 0.5374 - accuracy: 0.7609 - val_loss: 0.4330 - val_accuracy: 0.7809
Epoch 74/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.6064 - accuracy: 0.6816/29 [===============>..............] - ETA: 0s - loss: 0.5566 - accuracy: 0.7424/29 [=======================>......] - ETA: 0s - loss: 0.5327 - accuracy: 0.7629/29 [==============================] - 0s 7ms/step - loss: 0.5368 - accuracy: 0.7576 - val_loss: 0.4304 - val_accuracy: 0.7809
Epoch 75/1000
 1/29 [>.............................] - ETA: 0s - loss: 0.5963 - accuracy: 0.7110/29 [=========>....................] - ETA: 0s - loss: 0.5588 - accuracy: 0.7513/29 [============>.................] - ETA: 0s - loss: 0.5452 - accuracy: 0.7528/29 [===========================>..] - ETA: 0s - loss: 0.5386 - accuracy: 0.7629/29 [==============================] - 0s 9ms/step - loss: 0.5366 - accuracy: 0.7621 - val_loss: 0.4325 - val_accuracy: 0.7809
Epoch 76/1000
 1/29 [>.............................] - ETA: 1s - loss: 0.5945 - accuracy: 0.7117/29 [================>.............] - ETA: 0s - loss: 0.5461 - accuracy: 0.7526/29 [=========================>....] - ETA: 0s - loss: 0.5357 - accuracy: 0.7629/29 [==============================] - 0s 7ms/step - loss: 0.5340 - accuracy: 0.7621 - val_loss: 0.4338 - val_accuracy: 0.7865

In [129]:
preds = clf.predict(df_test)

In [130]:
df_pred = pd.read_csv("./titanic/gender_submission.csv")
df_pred.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [131]:
df_pred['Survived'] = preds
df_pred.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [132]:
df_pred.to_csv("./titanic_submission.csv", index=None)