In [84]:
import autokeras as ak
import pandas as pd
import numpy as np
df_train = pd.read_csv('./titanic/train.csv')
df_test = pd.read_csv("./titanic/test.csv")

In [85]:
dataset = (pd.concat([df_train,df_test]))
dataset.info()

dataset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [86]:
title_mapping = {"Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs",
                 "Master": "Boy", "Dr": "Gentleman", "Rev": "Gentleman", "Col": "unknown", "Major": "Gentleman", "Mlle": "unknown", "Countess": "Lady",
                 "Ms": "Miss", "Lady": "Lady", "Jonkheer": "unknown", "Don": "Gentleman", "Dona": "Lady", "Mme": "unknown", "Capt": "Gentleman", "Sir": "Gentleman"}
dataset['Title'] = dataset['Name'].str.extract(
        ' ([A-Za-z]+)\.', expand=False)
dataset['Title'] = dataset['Title'].map(title_mapping)

dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,Mr
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,Lady
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Mr
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,Mr
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,Boy

In [87]:
ageset = dataset.groupby(['Title'])['Age'].mean()
ageset

Title
Boy           5.482642
Gentleman    44.550000
Lady         40.000000
Miss         21.803744
Mr           32.252151
Mrs          36.994118
unknown      40.750000
Name: Age, dtype: float64

In [75]:
import autokeras as ak
import pandas as pd
import numpy as np
df_train = pd.read_csv('./titanic/train.csv')
df_test = pd.read_csv("./titanic/test.csv")

train_test_data = [df_train, df_test]  # combining train and test dataset

age_mapping = {
    "Boy":           5.482642,
    "Gentleman":    44.550000,
    "Lady":    40.000000,
    "Miss":   21.803744,
    "Mr":  32.252151,
    "Mrs": 36.994118,
    "unknown": 40.750000,
}

title_mapping = {"Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs",
                 "Master": "Boy", "Dr": "Gentleman", "Rev": "Gentleman", "Col": "unknown", "Major": "Gentleman", "Mlle": "unknown", "Countess": "Lady",
                 "Ms": "Miss", "Lady": "Lady", "Jonkheer": "unknown", "Don": "Gentleman", "Dona": "Lady", "Mme": "unknown", "Capt": "Gentleman", "Sir": "Gentleman"}
# features_drop = ['PassengerId', 'Ticket', 'Name', 'Title', 'Cabin', 'Family']
features_drop = ['PassengerId', 'Ticket', 'Name', 'Cabin', 'Family']

# create ageset
concatset = (pd.concat([df_train, df_test]))
concatset['Title'] = concatset['Name'].str.extract(
    ' ([A-Za-z]+)\.', expand=False)
concatset['Title'] = concatset['Title'].map(title_mapping)
ageset = concatset.groupby(['Title'])['Age'].mean()

for dataset in train_test_data:
    # mapping
    dataset['Title'] = dataset['Name'].str.extract(
        ' ([A-Za-z]+)\.', expand=False)
    dataset['Title'] = dataset['Title'].map(title_mapping)

    # fillna
    # dataset["Age"].fillna(dataset.groupby(
    #     "Title")["Age"].transform("median"), inplace=True)
    # dataset.set_index("Title").Age.fillna(ageset[""]set_index("ID").age).reset_index()
    dataset["Age"].fillna(ageset[dataset.Title], inplace=True).reset_index()
    dataset['Embarked'] = dataset['Embarked'].fillna('unknown')
    dataset["Fare"].fillna(dataset.groupby("Pclass")[
                           "Fare"].transform("median"), inplace=True)

    # add
    dataset["Family"] = dataset["SibSp"] + dataset["Parch"]
    dataset['Alone'] = np.where(dataset['Family'] > 0, 'n', 'y')

    # delete
    dataset.drop(features_drop, axis=1, inplace=True)

ValueError: cannot reindex from a duplicate axis

In [53]:
# # check train data
# print(df_train.head())
# print(df_train.shape)
# df_train.info()
# df_train.isnull().sum()
print(df_train.head(300))

Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked Title  \
0           0       3    male    22      1      0    7.2500        S    Mr
1           1       1  female    38      1      0   71.2833        C   Mrs
2           1       3  female    26      0      0    7.9250        S  Miss
3           1       1  female    35      1      0   53.1000        S   Mrs
4           0       3    male    35      0      0    8.0500        S    Mr
..        ...     ...     ...   ...    ...    ...       ...      ...   ...
295         0       1    male    Mr      0      0   27.7208        C    Mr
296         0       3    male  23.5      0      0    7.2292        C    Mr
297         0       1  female     2      1      2  151.5500        S  Miss
298         1       1    male    Mr      0      0   30.5000        S    Mr
299         1       1  female    50      0      1  247.5208        C   Mrs

    Alone
0       n
1       n
2       y
3       n
4       y
..    ...
295     y
296     y
297     n
298     y
299     n

[300 rows x 10 columns]

In [30]:
# # check test data
# print(df_test.head())
# print(df_test.shape)
# df_test.head()
# df_test.info()
# df_test.isnull().sum()
print(df_test.head(100))

Pclass     Sex   Age  SibSp  Parch     Fare Embarked Alone
0        3    male  34.5      0      0   7.8292        Q     y
1        3  female  47.0      1      0   7.0000        S     n
2        2    male  62.0      0      0   9.6875        Q     y
3        3    male  27.0      0      0   8.6625        S     y
4        3  female  22.0      1      1  12.2875        S     n
..     ...     ...   ...    ...    ...      ...      ...   ...
95       3    male  25.0      0      0   7.7958        S     y
96       1  female  76.0      1      0  78.8500        S     n
97       3    male  29.0      0      0   7.9250        S     y
98       3  female  20.0      0      0   7.8542        S     y
99       3    male  33.0      0      0   8.0500        S     y

[100 rows x 8 columns]